model:       apsim75
weather:     /project/joshuaelliott/testing/psims/acceptance/data/clim/cfsr
campaign:    /project/joshuaelliott/testing/psims/acceptance/data/campaign/ggcmi.whe
soils:       /project/joshuaelliott/psims/data/soils/gsde/gsde.30min
refdata:     /project/joshuaelliott/testing/psims/acceptance/data/reference/common.sor.whe
out_file:    out.psims.dssat45.isi1.maize
ref_year:    1980
num_years:   31
scens:       8
executable: /project/joshuaelliott/psims/bin/Apsim75-pysims.tar.gz
outtypes:    .met,.apsim,.out,.json,.txt
delta:       "30"
num_lats:    360
num_lons:    720
num_chunks:  33
lat_zero:    90
lon_zero:    -180
variables:   biomass,yield,planting_date,DaysAfterSowing,flowering_das,maturity_das,RainIn,Temp_year,TempIn,RadiationIn,IrrigationIn,WaterUse,actual_ET,biomass_n,FertiliserIn,NO3_leaching,N2Oemission_year,N2OemissionIn,CO2emission_year,CO2emissionIn
var_units:   "kg/ha,kg/ha,day,days,days,days,mm,oC,oC,MJ/m2,mm,mm,mm,gN/m2,kg/ha,kgN/ha,kgN2O/ha,kgN2O/ha,kgC/ha,kgC/ha"
long_names:  "biomass,yield,DateOfPlanting,DaysAfterSowing,flowering_das,maturity_das,RainIn,Temp_year,TempIn,RadiationIn,IrrigationIn,WaterUse,actual_ET,biomass_n,FertiliserIn,NO3_leaching,N2Oemission_year,N2OemissionIn,CO2emission_year,CO2emissionIn"

# Campaign translator
tappcmp:
   class:         camp2json
   campaignfile:  Campaign.nc4
   expfile:       exp_template.json
   outputfile:    experiment.json

# Weather translator
tappwth:
   class:      apsim75.psims2met 
   inputfile:  1.psims.nc
   variables:  tasmin,tasmax,rsds,pr,wind
   outputfile: Generic.met

# Input translator
tappinp:
    class:         apsim75.jsons2apsim
    soilfile:      soil.json
    expfile:       experiment.json
    templatefile:  template.apsim
    outputfile:    Generic.apsim

# Post processing translation
postprocess:
    class:     apsim75.out2psims
    inputfile: Generic.out
